
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <style type="text/css">
        .much{
            width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>

<body>

<div class="container">
    #parse("header.html")

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                #foreach($vo in $VOs)
                    <div class="row" style=")height: 100px; border-bottom: 1px solid #000000; margin-bottom: 10px">
                        <div class="col-md-2">
                            <a href="/newsDisplay/$vo.news.id" target="_blank"><img class="img-rounded" style="height: 90px;width: 100px" src="$!{vo.news.imageLink}"/></a>
                        </div>

                        <div class="col-md-5" align="left">
                            <table style="border-collapse:separate; border-spacing: 10px; table-layout:fixed">
                                <tr>
                                    <td>时间:&nbsp;&nbsp;于&nbsp;$!{vo.showTime}&nbsp;上传</td>
                                </tr>
                                <tr>
                                    #if($vo.news.type == 3)
                                        <td>分享:<a href="http://$!{vo.news.link}" target="_blank" style="color: black">&nbsp;&nbsp;点击跳转到原始页面</a></td>
                                    #elseif($vo.news.type == 6)
                                        <td><div class="much">原创:&nbsp;&nbsp;$!{vo.news.link}</div></td>
                                    #end
                                </tr>
                                <tr>
                                    <td><a href="/newsDisplay/$!{vo.news.id}" target="_blank" style="color: black" title="点击跳转到详情页面"><p class="much">主题:&nbsp;&nbsp;$!{vo.news.title}</p></a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-5" >
                            <table style="border-collapse:separate; border-spacing: 10px; table-layout:fixed; text-align: right" >
                                <tr>
                                    <td>$!{vo.news.commentCount}&nbsp;条留言</td>
                                </tr>
                                <tr>
                                    <td>support:&nbsp;$!{vo.support}</td>
                                </tr>
                                <tr>
                                    <td>oppose:&nbsp;$!{vo.oppose}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                #end
            </div>
            #if($barType == 1)
                #parse("rightBar.html")
            #elseif($barType == 2)
                #parse("rightBar2.html")
            #end
        </div>
    </div>
</div> <!-- /container -->



</body>
</html>
