
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

<div class="container">
    #parse("header.html")

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-1">
                        <button class="support" value="$!{news.id}"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <p id="likeCnt">$!{news.likeCount}</p>
                        <button class="oppose" value="$!{news.id}"><span class="glyphicon glyphicon-thumbs-down"></span></button>

                    </div>
                    <div class="col-md-11">
                       <div class="row">
                           <div class="col-md-2">
                                <img class="img-rounded" src="$!{news.imageLink}" width="80px" height="80px">
                           </div>
                           <div class="col-md-10" style="margin-bottom: 15px;">
                               #if($news.type == 3)
                                <p><a href="http://$!{news.link}" target="_blank" title="点击链接到分享的原始页面">$!{news.title}</a></p>
                               #elseif($news.type == 6)
                                <p>$!{news.title}</p>
                               #end
                               <a href="/individual/index?who=$news.userId" title="点击跳转到ta的个人页面"><p>$!{owner.username}</p></a> 于&nbsp;$!{showTime}&nbsp;发表&nbsp;
                               <i id="commentCnt">$!{news.commentCount}</i>评论&nbsp;&nbsp;<!-- <i>收藏</i>&nbsp;&nbsp;<i>举报</i> -->


                           </div>
                           </div>
                        #if($news.type == 3)
                            <div style="max-width:  500px; margin-top: 10px;">
                                <img  class="img-rounded" style="width: 100%" src="$!{news.imageLink}">
                            </div>
                        #elseif($news.type == 6)
                        <div style="max-width:  500px; margin: 20px; padding: 5px;">
                           <p style="color: black; font-size: 22px;">$news.link</p>
                        </div>
                        #end
                    </div>
                </div>
                <div style="border-bottom: dotted black 1px; margin: 10px;"></div>
                <div style="margin-left: 15px;">
                    <textarea rows="6" cols="50" style="border: black solid 1px;" required="true" minlength="6"></textarea><br/>
                    <button id="addComment" style="margin-top: 5px;" value="$!{news.id}">提交评论</button>
                </div>
                <div style="border-bottom: dotted black 1px; margin: 10px;"></div>

                <div style="margin-left: 15px;">
                    #foreach($vo in $commentVOs)
                        <div class="row comment" style="padding-bottom: 15px;">
                            <div class="col-md-1">
                                <button style="width:15px; height:15px" value="up"></button><br/>
                                <button style="width:15px; height:15px" value="down"></button>
                            </div>
                            <div class="col-md-11" style="width: 500px; word-wrap: break-word" >                                              <strong>$!{vo.user.username}</strong>&nbsp;&nbsp;&nbsp;<i>$!{vo.showTime}</i>&nbsp;&nbsp;发表了评论<br/>
                                <p>$!{vo.comment.content}</p>
                            </div>
                            <br/>
                        </div>
                    #end
                </div>



            </div>



            <div class="col-md-3">
                <p align="middle">广告</p>
                <!--<img style="width: 100%; height: 100%" src="">-->
            </div>
        </div>
    </div>
</div> <!-- /container -->


<script type="text/javascript">
    $(document).ready(function () {
        function renderComment(data) {
//            var o = $(".test").first().text();
//            alert(o);

//            var obj = $(".comment").first();
//            var x = obj.children(".test").text();

//            var newObj = $(".test").first().clone(true);
//            var x = newObj.text();

//            newNode.children(".p").text("ahahaha");

            var firstNode = $(".comment").first();
            if(firstNode.length == 0){
                window.location.reload();
                return;
            }
            var newNode = firstNode.clone(true);

            newNode.find("p").text(data.comment_content);
            newNode.find("strong").text(data.reviewer);
            newNode.find("i").text(data.showTime);
            newNode.insertBefore(firstNode);

            $("#commentCnt").text(data.commentCnt);
        }
        
        
        $("#addComment").click(function () {
            var content = $("textarea").val();
            if(content.length < 6){
                alert("评论至少6个字数");
                return;
            }

            $.ajax({
                data: {
                    "newsId": $("#addComment").val(),
                    "content": content
                },
                type: "POST",
                dataType: "json",
                url: "/newsPage/addComment",
                success: function (data) {
                    if(data.code == 1) {
                        alert(data.msg);
                    }else{
                        renderComment(data);
                    }
                },
                error: function () {
                    alert("未知错误");
                }
            });

        });

        $(".support").click(function () {
            $.ajax({
                data:{
                    "newsId": $(this).val(),
                    "attitude": 1
                },
                type: "POST",
                dataType: "json",
                url: "/newsAttitude",
                success: function (data) {
                    if(data.code == 1){
                        alert(data.msg);
                        return;
                    }
                    $("#likeCnt").text(data.msg);
                },
                error: function (data) {
                    alert("error: "+data.msg);
                }
            })
        });

        $(".oppose").click(function () {
            $.ajax({
                data:{
                    "newsId": $(this).val(),
                    "attitude": -1
                },
                type: "POST",
                dataType: "json",
                url: "/newsAttitude",
                success: function (data) {
                    if(data.code == 1){
                        alert(data.msg);
                        return;
                    }
                    $("#likeCnt").text(data.msg);
                },
                error: function (data) {
                    alert("error: "+data.msg);
                }
            });
        });


    });
</script>

</body>
</html>
