<style type="text/css">
    .mybtn{
        /*background-color: #b0e1f1;*/
        width: 200px;
        height: 50px;
    }
    .mytable td{
        padding-bottom: 15px;
    }
</style>
<div class="col-md-4" >
    <div align="center" style="margin-bottom: 50px;">
        <a href="/changeImage" title="点击更换头像"><img class="img-circle"  src="$!{user.headImageUrl}" style="width: 200px;"></a>
    </div>
    <div align="center" >
        <table class="mytable">
            <tr>
                <td><a href="/individual/index"><button class="mybtn btn btn-default btn-lg">我的上传</button></a></td>
            </tr>
            <tr>
                <td><a href="/individual/blog"><button class="mybtn btn btn-default btn-lg">我的留言</button></a></td>
            </tr>
            <tr>
                <td><a href="/individual/collection"><button class="mybtn btn btn-default btn-lg">我的收藏</button></a></td>
            </tr>
            <tr>
                <td><a href="/individual/idols"><button class="mybtn btn btn-default btn-lg">我的关注</button></a></td>
            </tr>
            <tr>
                <td><a href="/logout"><button class="mybtn btn btn-default btn-lg">退出登陆</button></a></td>
            </tr>
        </table>
    </div>
</div>